@import "tailwindcss";

@theme {
  --color-primary-50: #2b3672;
  --color-primary-60: #004d62;
  --color-primary-65: #94808a;
  --color-primary-70: #ffe2d6;
  --color-primary-80: #fbe0cf;
  --color-primary-85: #f2cbb4;
  /*naranja + claro*/
  --color-primary-90: #fac991;
  /*naranja*/
  --color-semitransparent: rgba(255, 255, 255, 0.8);
  /* Fondo blanco semitransparente */

  --color-semitransparent: rgba(43, 54, 114, 0.9);
  /* Fondo oscuro semitransparente */
}

body {
  background-image: url("img/fondos/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}