@import "tailwindcss";

/* ==== Colores Personalizados ==== */
:root {
  --color-primary-50: rgb(43, 54, 115);
  --color-primary-60: rgb(0, 76, 97);
  --color-primary-65: #94808a;
  --color-primary-70: #ffe2d6;
  --color-primary-80: #fbe0cf;
  --color-primary-85: #f2cbb4;
  --color-primary-90: #fac991;
  --color-semitransparent-light: rgba(255, 255, 255, 0.8);
  --color-semitransparent-dark: rgba(43, 54, 114, 0.9);
}


/* ==== Estilos Globales ==== */
body {
  background-image: url("img/fondos/fondo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  /* Añade esta línea */
  color: var(--color-primary-50);
}

/* ==== Secciones Específicas ==== */
section {
  background-color: var(--color-semitransparent-light);
  border-radius: 0.5rem;
  padding: 2rem;
}

/* Botones */
button {
  font-weight: bold;
  border-radius: 0.3rem;
  /* Bordes redondeados */
  transition: all 0.3s ease-in-out;
  /* Animaciones suaves */
}

button:hover {
  transform: scale(1.05);
  /* Ampliar ligeramente al pasar el cursor */
  background-color: rgba(43, 54, 114, 0.13)
    /* Cambiar el color de fondo */
}

/* Formularios */
input,
select,
textarea {
  border: 1px solid var(--color-primary-65);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: var(--color-primary-90);
  /* Resaltar en naranja */
  box-shadow: 0 0 4px var(--color-primary-90);
}

/* ==== Utilidades ==== */
main {
  flex-grow: 1;
  /* El contenido principal ocupa todo el espacio disponible */
}